{% extends "web/base.html" %}
{% load static %}

{% block content %}
		<div class="header-area" id="home-header">
			<div class="header-slide header-slide-1">
				<div class="overlay">
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<h3>24 - 25 November 2021, <span>Jakarta</span></h3>
								<h1><small></small></h1>
								<h1 >International Conference on Current Legal Issue and Human Security</h1>
								<ul class="buttons">
									<li><a href="https://rebrand.ly/iclhs-registration" class="line-button">Register Now</a></li>
									<li><a href="https://rebrand.ly/iclhs-submission" class="line-button">Call for Paper</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div><!-- /.header-area -->
		
		<div class="about-area gray-bg" id="about">
			<div class="container">
				<div class="row">
					<div class="col-md-4 mt-5" style="padding-top: 80px">
							<img src="{% static 'web/images/about/video-intro.png' %}" alt="video-intro" />
					</div>
					<div class="col-md-8">
						<div class="about-text">	
							<h4>About The Event</h4>
							<p>When Covid-19 struck in the middle of 2020, Several countries have adopted new adaptation strategies in fighting the pandemic in the year 2021,  Many countries implement adaptation methods such as making vaccines available to their citizens through thorough distribution.  Including indonesia, while Indonesia doesn't self-produce vaccines, the country proclaimed itself to be the fourth country to do mass vaccinations among its citizens. but Whether Indonesia and the international community are doing enough.</p>
                            <p>The incident above is part of the human security problem.  "Human Security," freedom from fear, and the freedom of desires along with this concept were then added as the cornerstones of this concept. Consequently, we can recognize an important paradigm shift between "security" and "development". Individuals will now take center stage, demonstrating the previously state-centric nature of the previous approach.
                            The key message from the International Conference is highlighted by this exhortation. As discussed above, Human Security is both development and protection, which encompasses widespread and non-military security concerns. based on the background Human Security will be the topic of the International Conference on "International Conference On Current Legal Issue And Human Security"
                            </p>
                            <div class="become-sponsor">
                                <a href="" class="button alt"  data-toggle="modal" data-target="#sponsor-form">Read more</a>
                            </div>
						</div>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.about-area -->
		<div class="about-area " id="about">
			<div class="container">
				<div class="row">

					<div class="col-md-12">
						<div class="row">
							<div class="col-sm-3 card-tema">
								<div class="single-about primary-shadow white-bg">
									<h5>Business & Human Security</h5>
									<p>We are the best designer comunity arond the world. We love to share our knowledge &  expriences</p>
								</div>
							</div>
							<div class="col-sm-3 card-tema">
								<div class="single-about primary-shadow white-bg">
									<h5>Environment & Human Security</h5>
									<p>We are the best designer comunity arond the world. We love to share our knowledge &  expriences</p>
								</div>
							</div>
							<div class="col-sm-3 card-tema">
								<div class="single-about primary-shadow white-bg">
									<h5>Human Security & Gender Issue</h5>
									<p>We are the best designer comunity arond the world. We love to share our knowledge &  expriences</p>
								</div>
							</div>
							<div class="col-sm-3 card-tema">
								<div class="single-about primary-shadow white-bg">
									<h5>Human Security on minorities</h5>
									<p>We are the best designer comunity arond the world. We love to share our knowledge &  expriences</p>
								</div>
							</div>
							<div class="col-sm-3 card-tema">
								<div class="single-about primary-shadow white-bg">
									<h5>Human Security on Technology</h5>
									<p>We are the best designer comunity arond the world. We love to share our knowledge &  expriences</p>
								</div>
							</div>
							<div class="col-sm-3 card-tema">
								<div class="single-about primary-shadow white-bg">
									<h5>Human security on International Politics</h5>
									<p>We are the best designer comunity arond the world. We love to share our knowledge &  expriences</p>
								</div>
							</div>
							<div class="col-sm-3 card-tema">
								<div class="single-about primary-shadow white-bg">
									<h5>Human Security on Judicial Services</h5>
									<p>We are the best designer comunity arond the world. We love to share our knowledge &  expriences</p>
								</div>
							</div>
						</div>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.about-area -->

		<div class="speakers-area gray-bg" >
			<div class="container">
				<div class="sub-heading">
					<div class="row">
						<div class="col-md-12">
							<h4>Our Speakers</h4>
						</div>
					</div>
				</div>
				<div class="row">
                    {% for a in pembicara %}
					<div class="col-md-3 col-sm-6 mb30">
						<div class="single-speaker primary-shadow white-bg" >
							<div class="speaker-cover" style="height: 250px;">
								<img src="/media/{{ a.Foto }}" alt="cover" style="object-fit: cover" />
								<div class="sperker-cover-over">
									<div class="speakers-thought">
										<p>{{ a.Deskripsi_singkat |truncatewords:20}}
										</p>
										<a href="" data-toggle="modal" data-target="#Speaker-{{ a.pk }}">More About Me</a>
									</div>
								</div>
								<ul class="speaker-social">
									<li><a href="{{ a.Facebook }}"><i class="fa fa-facebook"></i></a></li>
									<li><a href="{{ a.Twitter }}"><i class="fa fa-twitter"></i></a></li>
									<li><a href="{{ a.Instagram }}"><i class="fa fa-instagram"></i></a></li>
								</ul>
								<h6>{{ a.Pekerjaan }}</h6>
							</div>
							<div class="modal fade" id="Speaker-{{ a.pk }}" tabindex="-{{ a.pk }}">
								<div class="container">
									<div class="row">
										<div class="col-md-2"></div>
										<div class="col-md-8">
											<div class="speaker-details white-bg primary-shadow">
												<div class="row no-margin">
													<div class="col-sm-6 no-padding">
														<div class="speaker-images-slider">
															<img src="/media/{{ a.Foto }}" alt="speaker" />
														</div>
													</div>
													<div class="col-sm-6 no-padding">
														<div class="speaker-details-texts">
															<div class="sdt-top">
																<h4>{{ a.Nama }}</h4>
																<h6>{{ a.Pekerjaan }}</h6>
																<ul>
																	<li><a href="{{ a.Facebook }}"><i class="fa fa-facebook"></i></a></li>
																	<li><a href="{{ a.Twitter }}"><i class="fa fa-twitter"></i></a></li>
																	<li><a href="{{ a.Instagram }}"><i class="fa fa-instagram"></i></a></li>
																</ul>
															</div>
															<div class="sdt-bottom">
																<p>{{ a.Deskripsi_singkat }}</p>
																<a href="" class="button alt small" data-dismiss="modal">Close</a>
															</div>
														</div>
													</div>
												</div><!-- /.row -->
											</div><!-- /.speaker-details -->
										</div>
										<div class="col-md-2"></div>
									</div><!-- /.row -->
								</div><!-- /.container -->
							</div><!-- /.modal -->
							<div class="speaker-name">
								<h5 title="{{ a.Nama }}">{{ a.Nama }}</h5>
							</div>
						</div><!-- /.single-speaker -->
					</div><!-- /.col -->
                    {% endfor %}
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.speakers-area -->
<div>
</div>
		<div class="schedule-area white-bg">
			<div class="container">
				<div class="sub-heading">
					<div class="row">
						<div class="col-md-12">
							<h4>Our Schedule</h4>
						</div>
					</div>
				</div>
				<div class="schedules">
					<div class="row no-margin">
						<div class="col-md-3 no-padding">
							<div class="schedule-title">
								<h5>Date</h5>
							</div>
							<div class="schedule-date">
								<ul class="nav nav-tabs" role="tablist">
									<li class="active">
										<a href="#date-1" data-toggle="tab">
											<h4>Day 1</h4>
											<h5>November 24th, 2021 </h5>
										</a>
									</li>
									<li>
										<a href="#date-2" data-toggle="tab">
											<h4>Day 2</h4>
											<h5>November 25th, 2021 </h5>
										</a>
									</li>
								</ul>
							</div>
						</div>

						<div class="col-md-9 no-padding">

							<div class="schedule-details">
								<div class="schedule-title">
									<div class="row no-margin">
										<div class="col-sm-3 no-padding">
											<h5>Time</h5>
										</div>
										<div class="col-sm-9 no-padding">
											<h5>SESSION TITLE</h5>
										</div>
									</div>
								</div>

								<div class="tab-content">
									<div role="tabpanel" class="tab-pane active" id="date-1">
										<div class="panel-group" id="accordion" role="tablist">
                                        {% for e in eventdate %}
											<div class="single-schedule panel panel-default">
												<div class="panel-heading" role="tab">
												  <div class="panel-title single-schedule-title">
													<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#schedule-1-{{ forloop.counter }}">
                                                        <div class="row no-margin">
															<div class="col-sm-3 no-padding">
																<h5>{{ e.jammulai }} - {{ e.jamselesai }}</h5>
                                                                <p></p>
															</div>
															<div class="col-sm-9 no-padding">
																<h5>{{ e.Judul }}</h5>
															</div>
														</div>
													</a>
												  </div>
												</div>
                                                    {% if forloop.first %}
												    <div id="schedule-1-{{ forloop.counter }}" class="panel-collapse collapse in" role="tabpanel">
                                                    {% else %}
                                                    <div id="schedule-1-{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel">
                                                     {% endif %}
													<div class="panel-body">
														<div class="row no-margin">
															<div class="col-sm-3 no-padding">
																<div class="schedule-img">
                                                                    {% if e.Pembicara.Foto %}
																	<img src="/media/{{ e.Pembicara.Foto }}" alt="schedule" />
                                                                    {% else %}
																	<img src="{% static 'web/images/schedule/1.jpg' %}" alt="schedule" />
                                                                    {% endif %}
																</div>
															</div>
															<div class="col-sm-9 no-padding">
																<div class="schedule-info">
																	<p>{{ e.Keterangan }}</p>
																	<h5><span>With</span> : {{ e.Pembicara }} <small>{{ e.Pembicara.Pekerjaan }} at <a href="">{{ e.Pembicara.Perusahaan }}</a></small></h5>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div><!-- /.single-schedule -->
                                        {% endfor %}
										</div><!-- /.panel-group -->
                                    </div><!-- /.tab-pane -->

									<div role="tabpanel" class="tab-pane" id="date-2">
										<div class="panel-group" id="accordion-2" role="tablist">
                                            {% for f in event %}
											<div class="single-schedule panel panel-default">
												<div class="panel-heading" role="tab">
												  <div class="panel-title single-schedule-title">
													<a class="collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#schedule-2-{{ forloop.counter }}">
														<div class="row no-margin">
															<div class="col-sm-3 no-padding">
																<h5>{{ f.jammulai }} - {{ f.jamselesai }}</h5>
															</div>
															<div class="col-sm-9 no-padding">
																<h5>{{ f.Judul }}</h5>
															</div>
														</div>
													</a>
												  </div>
												</div>
												{% if forloop.first %}
                                                    <div id="schedule-2-{{ forloop.counter }}" class="panel-collapse collapse in" role="tabpanel">
                                                {% else %}
                                                    <div id="schedule-2-{{ forloop.counter }}" class="panel-collapse collapse" role="tabpanel">
                                                {% endif %}
													<div class="panel-body">
														<div class="row no-margin">
															<div class="col-sm-3 no-padding">
																<div class="schedule-img">
                                                                    {% if f.Pembicara.Foto %}
                                                                    <img src="/media/{{ f.Pembicara.Foto }}" alt="schedule" />
                                                                    {% else %}
																	<img src="{% static 'web/images/schedule/1.jpg' %}" alt="schedule" />
                                                                    {% endif %}
																</div>
															</div>
															<div class="col-sm-9 no-padding">
																<div class="schedule-info">
																	<p>{{ f.Keterangan }}</p>
																	<h5><span>With</span> : {{ f.Pembicara }} <small>{{ f.Pembicara.Pekerjaan }} at <a href="">{{ f.Pembicara.Perusahaan }}</a></small></h5>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div><!-- /.single-schedule -->
											{% endfor %}
										</div><!-- /.panel-group -->
									</div><!-- /.tab-pane -->

								</div><!-- /.tab-content -->

							</div><!-- /.schedule-details -->

						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.schedules -->
			</div>
		</div><!-- /.schedule-area -->
		<!-- /.schedule-area -->
		<!--div class="buy-tickit-area gray-bg">
			<div class="overlay">
				<div class="container">
					<form action="tickit.php" class="tickit-form">
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="input-box">
									<input type="text" name="client-name" id="client-name" placeholder="Your Name" />
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="input-box">
									<input type="text" name="client-email" id="client-email" placeholder="Your Email" />
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="input-box">
									<select name="package-name" id="package-name">
										<option value="start">Start Package</option>
										<option value="Gold">Gold Package</option>
										<option value="Platinam">Platinam Package</option>
									</select>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="input-box">
									<input class="button alt" type="submit" value="Get a ticket" id="get-ticket" />
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div><buy-tickit-area -->
		
		<div class="sponsors-area gray-bg">
			<div class="container">
				<div class="sub-heading">
					<div class="row">
						<div class="col-md-12">
							<h4>Our Sponsors</h4>
						</div>
					</div>
				</div>
				
				<div class="sponsors-nav">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#SilverSponsors" data-toggle="tab">University Sponsors</a></li>
						<li><a href="#GoldSponsors" data-toggle="tab">Corporate Sponsors</a></li>
						<li><a href="#PlatinumSponsors" data-toggle="tab">Media Partner</a></li>
					</ul>
				</div>

				<div class="tab-content sponsors-contents text-center">
					<div role="tabpanel" class="tab-pane active" id="SilverSponsors">
						<div class="row">
							<div class="col-md-3 col-sm-6 mb30">
								<div class="single-sponsor primary-shadow white-bg">
									<img src="{% static 'web/images/sponsor/1.png' %}" alt="sponsor" />
								</div>
							</div>
							<div class="col-md-3 col-sm-6 mb30">
								<div class="single-sponsor primary-shadow white-bg">
									<img src="{% static 'web/images/sponsor/2.png' %}" alt="sponsor" />
								</div>
							</div>
							<div class="col-md-3 col-sm-6 mb30">
								<div class="single-sponsor primary-shadow white-bg">
									<img src="{% static 'web/images/sponsor/3.png' %}" alt="sponsor" />
								</div>
							</div>
							<div class="col-md-3 col-sm-6 mb30">
								<div class="single-sponsor primary-shadow white-bg">
									<img src="{% static 'web/images/sponsor/4.png' %}" alt="sponsor" />
								</div>
							</div>
						</div>
					</div><!-- /.tabpanel -->
					<div role="tabpanel" class="tab-pane" id="GoldSponsors">
						<div class="row">
							<div class="col-md-3 col-sm-6 mb30">
								<div class="single-sponsor primary-shadow white-bg">
									<img src="{% static 'web/images/sponsor/4.png' %}" alt="sponsor" />
								</div>
							</div>
							<div class="col-md-3 col-sm-6 mb30">
								<div class="single-sponsor primary-shadow white-bg">
									<img src="{% static 'web/images/sponsor/3.png' %}" alt="sponsor" />
								</div>
							</div>
							<div class="col-md-3 col-sm-6 mb30">
								<div class="single-sponsor primary-shadow white-bg">
									<img src="{% static 'web/images/sponsor/2.png' %}" alt="sponsor" />
								</div>
							</div>
							<div class="col-md-3 col-sm-6 mb30">
								<div class="single-sponsor primary-shadow white-bg">
									<img src="{% static 'web/images/sponsor/1.png' %}" alt="sponsor" />
								</div>
							</div>
						</div>
					</div><!-- /.tabpanel -->
					<div role="tabpanel" class="tab-pane" id="PlatinumSponsors">
						<div class="row">
							<div class="col-md-3 col-sm-6 mb30">
								<div class="single-sponsor primary-shadow white-bg">
									<img src="{% static 'web/images/sponsor/2.png' %}" alt="sponsor" />
								</div>
							</div>
							<div class="col-md-3 col-sm-6 mb30">
								<div class="single-sponsor primary-shadow white-bg">
									<img src="{% static 'web/images/sponsor/1.png' %}" alt="sponsor" />
								</div>
							</div>
							<div class="col-md-3 col-sm-6 mb30">
								<div class="single-sponsor primary-shadow white-bg">
									<img src="{% static 'web/images/sponsor/4.png' %}" alt="sponsor" />
								</div>
							</div>
							<div class="col-md-3 col-sm-6 mb30">
								<div class="single-sponsor primary-shadow white-bg">
									<img src="{% static 'web/images/sponsor/3.png' %}" alt="sponsor" />
								</div>
							</div>
						</div>
					</div><!-- /.tabpanel -->
				</div><!-- /.tab-content -->
				
				<div class="become-sponsor text-center">
					<a href="" class="button alt"  data-toggle="modal" data-target="#sponsor-form">Become a Sponsor</a>
				</div>
				
				<div class="modal fade" id="sponsor-form" tabindex="-1">
					<div class="container">
						<div class="row">
							<div class="col-md-3"></div>
							<div class="col-md-6">
								<div class="sponsor-form-area white-bg primary-shadow">
									<div class="sub-heading small">
										<div class="row">
											<div class="col-md-12">
												<h4>Become a Sponsor</h4>
											</div>
										</div>
									</div>
									<form action="sponsor.php">
										<div class="row">
											<div class="col-sm-6">
												<div class="input-box-underline">
													<input class="input" type="text" name="Your-name" id="Your-name" placeholder="Your Name" />
												</div>
											</div>
											<div class="col-sm-6">
												<div class="input-box-underline">
													<input class="input" type="text" name="Email-address" id="Email-address" placeholder="Email address" />
												</div>
											</div>
											<div class="col-sm-6">
												<div class="input-box-underline">
													<input class="input" type="text" name="Phone-No" id="Phone-No" placeholder="Phone No" />
												</div>
											</div>
											<div class="col-sm-6">
												<div class="input-box-underline">
													<input class="input" type="text" name="Company-name" id="Company-name" placeholder="Company name" />
												</div>
											</div>
											<div class="col-sm-6">
												<div class="input-box-underline">
													<input class="input" type="text" name="Position" id="Position" placeholder="Position" />
												</div>
											</div>
											<div class="col-sm-6">
												<div class="input-box-underline">
													<input class="input" type="text" name="Website-Url" id="Website-Url" placeholder="Website Url" />
												</div>
											</div>
										</div><!-- /.row -->
										<ul class="row text-center">
											<li class="col-sm-4">
												<div class="single-package-select">
													<input name="sps" value="Silver" id="Silver" checked type="radio">
													<label for="Silver">
														<span class="h5-like">Silver</span>
														<span class="h6-like">$2000.00</span>
													</label>
												</div>
											</li>
											<li class="col-sm-4">
												<div class="single-package-select">
													<input name="sps" value="Gold" id="Gold" type="radio">
													<label for="Gold">
														<span class="h5-like">Gold</span>
														<span class="h6-like">$5000.00</span>
													</label>
												</div>
											</li>
											<li class="col-sm-4">
												<div class="single-package-select">
													<input name="sps" value="Platinum" id="Platinum" type="radio">
													<label for="Platinum">
														<span class="h5-like">Platinum</span>
														<span class="h6-like">$10000.00</span>
													</label>
												</div>
											</li>
										</ul><!-- /.row -->
										<div class="row">
											<div class="col-md-12">
												<div class="input-box-underline">
													<textarea class="input" name="some-text" id="some-text" placeholder="Tell more about you or your company"></textarea>
												</div>
											</div>
										</div><!-- /.row -->
										<div class="row">
											<div class="col-sm-12">
												<ul class="buttons">
													<li><input type="submit" value="submit" class="button alt" /></li>
													<li><a href="" class="button alt" data-dismiss="modal">Close</a></li>
												</ul>
											</div>
										</div><!-- /.row -->
									</form><!-- /form -->
								</div><!-- /.sponsor-form-area -->
							</div>
							<div class="col-md-3"></div>
						</div><!-- /.row -->
					</div><!-- /.container -->
				</div><!-- /.modal -->
				
			</div><!-- /.container -->
		</div><!-- /.sponsors-area -->

		
		<div class="contact-area white-bg">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div class="location-card mb30 primary-shadow">
							<div style="width: 100%"><iframe width="770" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=770&amp;hl=en&amp;q=Jl.%20Jend.%20Sudirman%20No.51,%20RT.5/RW.4,%20Karet%20Semanggi,%20Kecamatan%20Setiabudi,%20Kota%20Jakarta%20Selatan,%20Daerah%20Khusus%20Ibukota%20Jakarta%2012930+(unika%20atma%20jaya)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe></div>
							<div class="overlay"></div>
							<div class="location-info">
								<h6>Unika Atma Jaya</h6>
								<h4>Jl. Jend. Sudirman No.51</h4>
							</div>
							<span class="map-trigger">
								<i class="fa fa-map-marker"></i>
							</span>
							<div class="google-map-area">
								<div id="map" class="map"></div>
								<span class="map-close"><i class="fa fa-close"></i></span>
							</div>
						</div>
					</div><!-- /.col -->
					<div class="col-md-4">
						<div class="contact-info primary-shadow white-bg">
							<h4>Contact Info</h4>
							<div class="row">
								<div class="col-md-12 col-sm-6">
									<div class="single-contact-info">
										<div class="row">
											<div class="col-xs-5">
												<img src="{% static 'web/images/contact/cp1.jpg' %}" alt="contact" />
											</div>
											<div class="col-xs-7">
												<h6>Putri Purbasari</h6>
												<span class="p-like">Organizer</span>
												<ul>
													<li>+02 596 355 32</li>
													<li>putri.purbasari@atmajaya.ac.id</li>
												</ul>
											</div>
										</div>
									</div>
								</div><!-- /.col -->
							</div><!-- /.row -->
						</div><!-- /.contact-info -->
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.contact-area -->
{% endblock %}